---
---
body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: linear-gradient(290deg, #05ffa7, #0552ff);
    text-align: center;
    // color: #fff;
    padding: 5em;
}

* {
    outline: none;
}

#title {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #fff;
    text-decoration: none;
    a {
        border-radius: 0.5em;
    }
}

paper-button[raised] {
    background: linear-gradient(136deg, rgba(5, 82, 255, 0.5), rgba(5, 149, 255, 0.3));
}

paper-card {
    max-width: 40em;
    padding: 1em;
    position: relative;
    z-index: 1;
    #close-fab {
        position: absolute;
        right: -1.5em;
        top: -1.5em;
    }
}

div {
    display: inline-block;
    padding: 1em;
    a {
        color: #000;
        text-decoration: none;
        margin: 1rem;
        &:last-child {
            color: #fff;
            paper-button[raised] {
                background: #000;
            }
        }
    }
}
