---
---
body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    min-height: 100vh;
    background-color: #eee;
}

* {
    outline: none;
}

#modal {
    position: fixed;
    margin: 3em 12.5%;
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
}

code {
	padding: 1px 5px;
	// border: 1px solid #cecece;
	border-radius: 3px;
	pre & {
		padding: 16px;
		overflow: auto;
		display: block;
    }
}

paper-button[raised] {
    background: #fff;
}

