---
---

<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">

<dom-module id="{{page.date|date:"%Y-%m-%d-"}}{{page.title}}">

    <template>

        <style>
            :host {
                display: block;
                padding: 10px;
            }
            paper-card {
                padding: 1em;
            }
        </style>
        <paper-card>
            {{ content }}
        </paper-card>

    </template>

    <script>

        Polymer({
            is: '{{page.date|date:"%Y-%m-%d-"}}{{page.title}}'
        });

    </script>

</dom-module>

