{% assign name = page.url|remove:'/blog/'|remove:'.html' %}
<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../stylesheets/shared-styles.html">
<dom-module id="{{name}}">
    <template>
        <link rel="stylesheet" type="text/css" href="../../../../stylesheets/one-light.css">
        <style include="shared-styles"></style>
        <style>
        :host {
            display: block;
            padding: 10px;
        }
        </style>
        <h1>
            {{ page.title }}
            <a href="{{ site.github.repository_url }}/blob/master/{{ page.relative_path }}">
                <paper-icon-button icon="link"></paper-icon-button>
            </a>
        </h1>
        {{ content }}
    </template>
    <script>
        Polymer({
            is: "{{name}}"
        });
    </script>
</dom-module>
