---
---
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../stylesheets/shared-styles.html">
<dom-module id="my-blog-index">
    <template>
        <link rel="stylesheet" type="text/css" href="../stylesheets/rouge-github.css">
        <style include="shared-styles"></style>
        <style>
        :host {
            display: block;
        }
        paper-card {
            width: 100%;
            position: relative;
            vertical-align: top;
            margin: 0.5em 0;
        }
        @media only screen and (max-width: 599px) {
            .half {
                display: none;
            }
            .all {
                display: block;
            }
        }
        @media only screen and (min-width: 600px) {
            .half {
                width: calc(50% - 1em - 2px);
                margin: 0.5em;
                display: inline-block;
            }
            .all {
                display: none;
            }
        }
        </style>

        {% for i in (0..1) %}
            <div class="half {{i}}">
            {% for post in site.posts %}
                {% assign mod = forloop.index | modulo: 2 %}
                {% if mod != i %}
                    {% include post-card.html post=post %}
                    {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        <div class="all">
            {% for post in site.posts %}
            {% include post-card.html post=post %}
            {% endfor %}
        </div>
    </template>
    <script>
        Polymer({
            is: "my-blog-index"
        });
    </script>
</dom-module>
